
/* Common Styles for Responsive Design */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

/* For screens up to 1200px */
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}

/* For screens up to 600px */
@media screen and (max-width: 600px) {
  #contact,
  footer {
    margin-top: 2rem;
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 5px;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .section__text__p1 {
    margin-top: 1rem;
  }

  .contact-info-upper-container {
    margin-bottom: 5rem;
  }
}

/* For screens between 601px and 1200px */
@media (min-width: 601px) and (max-width: 1200px) {
  .card {
    width: calc(50% - 20px);
  }

  .contact-info-upper-container {
    max-width: 700px; /* Set your desired width for larger screens */
    width: 100%;
  }
}

/* For screens up to 740px */
@media (max-width: 740px) {
  .card {
    width: calc(100% - 20px);
  }

  .contact-info-upper-container {
    max-width: 100%; /* Full width for smaller screens */
    width: calc(100% - 20px);
    flex-wrap: wrap;
  }
}
